<h1>WELCOME</br><%= @welcome %></h1>

<div class="container text-center">
  <div class="page">
    <h4><u>The Potin Project:</u></h4>
  </div>
  <br>  
  

<div class="row col">
  <% @gossips.each_with_index do |gossip, i| %>
  <div class="card" style="width:18rem;">
  
    <div class="card-header">
      <%=gossip.title%>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%=gossip.user.first_name%></li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
     <%end%>
       </div>
</div>
